<?xml version="1.0" encoding="UTF-8"?>
<beans default-init-method="init" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:hz="http://www.hazelcast.com/schema/config"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.hazelcast.com/schema/config http://www.hazelcast.com/schema/config/hazelcast-spring.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd" >


<!--
    Document   : applicationContext.xml
    Created on : July 23, 2010, 12:58 AM
    Author     : rwaltz
    Description:
        Purpose of the document follows.
-->
    <bean id="log4jInitialization"
     class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass"
      value="org.springframework.util.Log4jConfigurer" />
        <property name="targetMethod" value="initLogging" />
        <property name="arguments">
            <list>
                <value>file:/etc/dataone/process/log4j.properties</value>
            </list>
        </property>
    </bean>
    <bean id="mylog"
    class="org.springframework.beans.factory.config.CommonsLogFactoryBean">
        <property name="logName" value="log"/>
    </bean>
    <bean id="log4jInitializationRedirectStdOutErr" class="org.dataone.cn.batch.daemon.utils.StdOutErrLog" init-method="init"/>

    <bean name="rejectionExecutionHander" class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy" />

    <bean id="hazelcastLdapStore" class="org.dataone.cn.hazelcast.HazelcastLdapStore">
        <qualifier value="hazelcastLdapStore"/>
    </bean>
    <context:annotation-config/>
    <bean id="properties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>file:/etc/dataone/process/logAggregation.properties</value>
        </property>
    </bean>
    <import resource="file:/etc/dataone/process/hazelcast.xml" />

    <!-- Use this Executor for long running thread management -->
    <bean id="simpleAsyncTaskExecutor" class="org.springframework.core.task.SimpleAsyncTaskExecutor">
        <property name="threadGroupName" value="SimpleAsyncGroup" />
        <property name="threadNamePrefix" value="ProcessDaemonTask" />
        <property name="daemon" value="true" />
    </bean>
    
    <bean id="propConnectionManagerTimeout" class="java.lang.Long">
        <constructor-arg index="0"  value="30000" />
    </bean>
    <bean id="localhostSolrServer" class="org.apache.solr.client.solrj.impl.CommonsHttpSolrServer">
        <constructor-arg index="0"  value="${LogAggregator.solrUrl}" />
        <property name="maxRetries" value="1" />
        <property name="connectionManagerTimeout"  ref="propConnectionManagerTimeout" />
        <property name="soTimeout" value="30000" />
    </bean>

    <bean id="indexLogEntryQueue" class="java.util.concurrent.ArrayBlockingQueue">
        <constructor-arg index="0"  value="50000" />
        <constructor-arg index="1"  value="true" />
    </bean>

    <bean id="logIndexingThreadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="keepAliveSeconds" value="120" />
        <property name="allowCoreThreadTimeOut" value="true" />
        <property name="rejectedExecutionHandler" ref="rejectionExecutionHander" />
        <property name="daemon" value="true" />
        <property name="waitForTasksToCompleteOnShutdown" value="true" />
        <property name="threadGroupName" value="LogIndexingPool" />
        <property name="threadNamePrefix" value="LogIndexingTask" />
    </bean>


    <bean id="logEntryTopicListener" class="org.dataone.cn.batch.logging.listener.LogEntryTopicListener">
        <property name="hazelcast" ref="hazelcastInstance" />
        <property name="indexLogEntryQueue" ref="indexLogEntryQueue" />
    </bean>
    
    <bean id="systemMetadataEntryListener" class="org.dataone.cn.batch.logging.listener.SystemMetadataEntryListener">
        <property name="hazelcast" ref="hazelcastInstance" />
    </bean>

    <bean id="logAggregationScheduler" class="org.dataone.cn.batch.logging.LogAggregationScheduleManager" init-method="init" >
        <property name="hazelcast" ref="hazelcastInstance" />
        <property name="hazelcastLdapStore" ref="hazelcastLdapStore" />
        <property name="localhostSolrServer" ref="localhostSolrServer" />
        <property name="logEntryTopicListener" ref="logEntryTopicListener" />
        <property name="systemMetadataEntryListener" ref="systemMetadataEntryListener" />
    </bean>
    <bean id="logEntryQueueTask" class="org.dataone.cn.batch.logging.tasks.LogEntryQueueTask" init-method="init">
        <property name="hazelcast" ref="hazelcastInstance" />
        <property name="taskExecutor" ref="logIndexingThreadPoolTaskExecutor" />
        <property name="indexLogEntryQueue" ref="indexLogEntryQueue" />
        <property name="localhostSolrServer" ref="localhostSolrServer" />
        <property name="pollingQueueTimeout" value="60" />
    </bean>
    
    <bean id="logEntryQueueManager" class="org.dataone.cn.batch.logging.LogEntryQueueManager" init-method="init">
        <property name="taskExecutor" ref="simpleAsyncTaskExecutor" />
        <property name="logEntryQueueTask" ref="logEntryQueueTask" />
    </bean>
<!--
    <bean id="replicationManager" class="org.dataone.service.cn.replication.v1.ReplicationManager" init-method="init" />
    
    <bean id="replicationEventListener" class="org.dataone.service.cn.replication.v1.ReplicationEventListener" init-method="init">
        <property name="replicationManager" ref="replicationManager" />
    </bean>
    -->
    <bean id="harvester" class="org.dataone.cn.batch.synchronization.HarvestSchedulingManager" init-method="init" >
        <property name="hazelcast" ref="hazelcastInstance" />
        <property name="hazelcastLdapStore" ref="hazelcastLdapStore" />
    </bean>

    <bean name="nodeCommFactory" class="org.dataone.cn.batch.synchronization.NodeCommD1ClientFactory" />
    <bean id="syncThreadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="50" />
        <property name="maxPoolSize" value="500" />
        <property name="keepAliveSeconds" value="120" />
        <property name="allowCoreThreadTimeOut" value="true" />
        <property name="rejectedExecutionHandler" ref="rejectionExecutionHander" />
        <property name="daemon" value="true" />
        <property name="waitForTasksToCompleteOnShutdown" value="true" />
        <property name="threadGroupName" value="SynchronizationPool" />
        <property name="threadNamePrefix" value="SynchronizeTask" />
    </bean>

    <bean id="syncObjectTask" class="org.dataone.cn.batch.synchronization.tasks.SyncObjectTask">
        <property name="threadPoolTaskExecutor" ref="syncThreadPoolTaskExecutor" />
        <property name="hazelcast" ref="hazelcastInstance" />
        <property name="nodeCommunicationsFactory" ref="nodeCommFactory" />
        <property name="maxNumberOfClientsPerMemberNode" value="4" />
    </bean>
    <bean id="syncObjectTaskManager" class="org.dataone.cn.batch.synchronization.SyncObjectTaskManager" init-method="init" >
        <property name="taskExecutor" ref="simpleAsyncTaskExecutor" />
        <property name="syncObjectTask" ref="syncObjectTask" />
    </bean>

</beans>
