Package: dataone-cn-processdaemon
Version: 0.4.0
Section: utils
Priority: optional
Architecture: all
Depends: dataone-cn-os-core, dataone-cn-metacat, sun-java6-jdk, jsvc, libcommons-daemon-java
Installed-Size: 1 kb
Maintainer: Robert Patrick Waltz <rwaltz@utk.edu>
Description: This is a metapackage that installs the process daemon that runs mnsynchronization and mnreplication processes and is needed to configure a coordinating node instance.
